body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #dfb843;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}
header {
    background: url('bgw.png') no-repeat center center/cover;
    color: #fff;
    padding: 50px 0;
    border-bottom: #dfb843 3px solid;
    text-align: center;
}
header .logo {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 50%;
}
header nav ul {
    padding: 0;
    list-style: none;
}
header nav ul li {
    display: inline;
    padding: 0 20px;
}
header nav ul li a, header .social-media a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
}
header .social-media {
    margin-top: 10px;
}
header .social-media .button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background: #333;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
}
header .social-media .button:hover {
    background: #555;
}
.about {
    padding: 20px;
    background: #dfb843;
    color: #000;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
}
.main {
    padding: 20px;
    background: #000;
    color: #dfb843;
    margin-top: 20px;
    border-radius: 10px;
}
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.services div {
    flex: 1 1 calc(45% - 20px);
    padding: 10px;
    background: #333;
    color: #dfb843;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
.services img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}
.contact-address {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    background: #dfb843;
    color: #000;
    border-radius: 10px;
}
.contact-address section {
    flex: 1;
    margin: 10px;
}
.contact-form {
    max-width: 100%;
    padding: 20px;
    background: #000;
    color: #dfb843;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-form input, .contact-form textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    background: #dfb843;
    color: #000;
    border: 1px solid #333;
    border-radius: 5px;
}
.contact-form button {
    background: #333;
    color: #dfb843;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.contact-form button:hover {
    background: #555;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px 20px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    header .logo {
        max-width: 150px;
    }
    .services div {
        flex: 1 1 100%;
    }
    .contact-address {
        flex-direction: column;
    }
    .contact-address section {
        margin: 10px 0;
    }
}
